# Python
__pycache__/
*.py[cod]

# Poetry / virtualenv
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Editors / IDEs
.vscode/
.idea/

# Logs
*.log

# Local data and vector stores
data/
